# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

### Some of the commonly used libraries used by Data Scientists include
1. Matplotlib
2. Numpy
3. Pandas
4. Scikit-learn

| Data Science Tools |
| ------------------ |
| Python |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives**

* Use Markdown cells for creating tables
* Create a Jupter Notebook
* Use Markdown cells to add different level Headings
* Different libraries of Data science
* Different tools of Data Science

## Author
Karthik